<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
<title>Finance | Registration</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery-1.7.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body>
<div class="bg">
  <div class="bg-2">
    <!--==============================header=================================-->
    <header>
      <h1 style="color: red; font-size: 50px; font-family: 'Trebuchet MS';font-stretch: ultra-expanded;">FlOwInG FiNaNcE</h1>
      <nav>
        <ul class="menu">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'Visualization' %}">Visualization</a></li>
          <li><a href="{% url 'banking' %}">Banking</a></li>
          <li><a href="{% url 'Budget' %}">Budget</a></li>
          <li class="current"><a href="{% url 'login' %}">Login</a></li>
        </ul>
      </nav>
    </header>
    <!--==============================content================================-->
    <section id="content">
      <div class="slogan top-1">
        <p>Your savings <span class="clr-1">journey starts</span> now, and with <span class="clr-1">our support</span>, your <span class="clr-1">goals are closer </span>than ever!</p>
        <p></p>
        <a href="#" class="button-2">click here</a> </div>
      <div class="page5-row1">
        <div class="page5-col-1 border-right">
          
          <img src="{% static 'images/sign.jpg' %}" alt="">
        </div>
        <div class="page5-col-2">
          <h2><span class="clr-1">R</span>egister</h2>
          <form id="form" method="post" action="{% url 'Register' %}">
            {% csrf_token %}
            <fieldset>
              <!--<legend><strong>Register</strong></legend>-->
                
                <label for="fullname"><strong>Full Name:</strong>
                <input type="text" id="fullname" name="fullname" required></label>
        
                <label for="lastname"><strong>Last Name:</strong>
                <input type="text" id="lastname" name="lastname" required></label>
        
                <label for="email"><strong>E-mail:</strong>
                <input type="email" id="email" name="email" required></label>
        
                <label for="password1"><strong>Password:</strong>
                <input type="password" id="password1" name="password1" required></label>
        
                <label for="password2"><strong>Confirm Password:</strong></label>
                  <input type="password"  id="password2" name="password2" required>
                <br><br>
        
                <button type="submit">Signup</button>
            </fieldset>
        </form>
        
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
</div>
<!--==============================aside=================================-->
<aside>
  <div class="wrap">
    <div class="aside-col-1 border-right-2">
      <h3><span class="clr-1">N</span>otifications</h3>
      <form id="form-search" method="post" action="#">
        <span>Enter you email here:</span>
        <input type="text" value="" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''">
        <a href="#" class="link-2">subscribe</a>
      </form>
    </div>
    <div class="aside-col-2 border-right-2">
      <h3><span class="clr-1">P</span>lanning info:</h3>
      <p>Goal-Based Planning, Tax Planning, Budget Planning, Investment Insights, Debt Management, Investment Portfolio, Net Worth Overview</p>
    </div>
    <div class="aside-col-3 border-right-2">
      <dl class="adrss">
        <dd><span>Freephone:</span><strong>+91 999 57 900 14</strong></dd>
        <dd><span>Telephone:</span><strong>+91 999 57 900 14</strong></dd>
        <dd><span>Fax:</span><strong>+91 999 57 900 14</strong></dd>
        <dd><span>E-mail:</span><a href="#" class="link"><strong>divyaph@gmail.com</strong></a></dd>
      </dl>
      <p><strong>9870St Vincent Place,<br>
        Glasgow, DC 45 Fr 45.</strong></p>
    </div>
    <div class="aside-col-4">
      <div class="soc-icons"> <a href="#"><img src="{% static 'images/icon-1.png' %}" alt=""></a><a href="#"><img src="{% static 'images/icon-2.png' %}" alt=""></a><a href="#"><img src="{% static 'images/icon-3.png' %}" alt=""></a> </div>
    </div>
  </div>
</aside>
<!--==============================footer=================================-->
<footer>
  <p><strong>© 2012 Vertex</strong><br>
    Website Template by <a target="_blank" href="http://www.templatemonster.com/" class="link-4">TemplateMonster.com</a></p>
</footer>
</body>
</html>
